<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wizone.taskmanager" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Wizone Task Manager</name>
    <description>Professional task management application with real-time updates and file handling capabilities.</description>
    <author email="support@wizone.com" href="https://wizone.com">
        Wizone Team
    </author>
    <content src="index.html" />
    
    <!-- Global preferences -->
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="33" />
    <preference name="BackupWebStorage" value="none" />
    
    <!-- Allow navigation to external URLs -->
    <allow-navigation href="http://103.122.85.61:4000/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="data:*" />
    
    <!-- Allow access to all domains -->
    <access origin="*" />
    
    <!-- Allow intent for external applications -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <platform name="android">
        <allow-intent href="market:*" />
        
        <!-- Permissions -->
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        
        <!-- Network security config for HTTP connections -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="android.net.usesCleartextTraffic" android:value="true" />
        </config-file>
    </platform>
    
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
